<!-- Profile Section -->
<div class="ma-menu-username">
  <div
    class="ma-menu__profile"
    data-maskots='
      [
        "{{ 'Maskot1.webp' | asset_url }}",
        "{{ 'Maskot2.webp' | asset_url }}",
        "{{ 'Maskot3.webp' | asset_url }}",
        "{{ 'Maskot4.webp' | asset_url }}",
        "{{ 'Maskot5.webp' | asset_url }}"
      ]
    '
  ></div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const profileContainer = document.querySelector('.ma-menu__profile');

      // Ambil data maskot dari atribut data
      const maskotList = JSON.parse(profileContainer.getAttribute('data-maskots'));

      // Pilih salah satu secara acak
      const randomIndex = Math.floor(Math.random() * maskotList.length);
      const randomImgSrc = maskotList[randomIndex];

      // Buat elemen gambar dan masukkan
      const img = document.createElement('img');
      img.src = randomImgSrc;
      img.alt = 'Maskot';
      img.loading = 'lazy';
      img.style.maxWidth = '100%';

      profileContainer.appendChild(img);
    });
  </script>

  <h2>
    {{ customer.default_address.first_name }}
    {{ customer.default_address.last_name }}
  </h2>
  <p>{{ customer.email }}</p>
</div>

<button class="ma-menu-wrapper" data-tab="edit-profile">
  <div class="menu-wrapper">
    <img width="25" height="25" src="{{ 'profile.svg' | asset_url }}" alt="Edit Profile">
    <h2>Edit Profile</h2>
  </div>
</button>

<button class="ma-menu-wrapper active" data-tab="order-history">
  <div class="menu-wrapper">
    <img width="25" height="25" src="{{ 'group.svg' | asset_url }}" alt="Order History">
    <h2>Order History</h2>
  </div>
</button>

<!--
  <button class="ma-menu-wrapper" data-tab="referral">
    <div class="menu-wrapper">
      <img width="25" height="25" src="{{ 'referral.svg' | asset_url }}" alt="Referral">
      <h2>Referral</h2>
    </div>
  </button>
-->

<button class="ma-menu-wrapper" data-tab="membership">
  <div class="menu-wrapper">
    <img width="25" height="25" src="{{ 'membership.svg' | asset_url }}" alt="Membership">
    <h2>Membership</h2>
  </div>
</button>

<a class="ma-link" href="{{ routes.account_logout_url }}">
  <div class="ma-menu-wrapper">
    <img width="25" height="25" src="{{ 'logout.svg' | asset_url }}" alt="Back">
    <h2>Log Out</h2>
  </div>
</a>
