{% style %}
  .search-bar {
    width: 100%;
    background-color: var(--color-neutral);
    border-radius: 15px;
  }
  .search__field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
  }
  .search__input {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--color-primary);
    font-size: var(--font-large);
  }
  .search__input::placeholder {
    color: var(--color-primary);
    font-size: var(--font-large);
  }
  .search__button-submit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    right: 5px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
  }
  .search__button-reset {
    position: absolute;
    right: 60px;
    border: none;
    background: transparent;
  }
  /* style predictive search */
  .predictive-search--search-template {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-neutral);
    border: 1px solid var(--color-border);
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .predictive-search--search-template.show {
    display: block;
  }
{% endstyle %}

{%- if settings.predictive_search_enabled -%}
  <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}" aria-live="polite">
{%- endif -%}

<section class="search-bar">
  <form action="{{ routes.search_url }}" method="get" role="search" class="search__form">
    <div class="search__field">
      <input
        class="search__input"
        id="search-input"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="Search Your Destination"
        {%- if settings.predictive_search_enabled -%}
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results"
          aria-controls="predictive-search-results"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        {%- endif -%}
      >

      {%- if settings.predictive_search_enabled -%}
        <div
          id="predictive-search-results"
          class="predictive-search predictive-search--search-template"
          tabindex="-1"
          data-predictive-search
        >
          {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
        </div>
        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      {%- endif -%}

      <button
        type="reset"
        class="search__button-reset{% if search.terms == blank %} hidden{% endif %}"
        aria-label="{{ 'general.search.reset' | t }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-reset.svg' | inline_asset_content -}}
        </span>
      </button>

      <button
        type="submit"
        class="search__button-submit"
        aria-label="{{ 'general.search.search' | t }}"
      >
        <span>
          {{- 'material-search.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  </form>
</section>
