{% style %}
  .about-review {
    max-width: 1920px;
    margin: 0 auto;
  }
  .review-container {
    padding: 20px 20% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .review-card {
    background-color: var(--color-neutral);
    border-radius: 15px;
    padding: 15px;
    box-shadow: var(--box-shadow);
  }
  .review-header {
    display: flex;
    align-items: center;
    font-size: var(--font-large);
    color: var(--color-secondary);
    gap: 10px;
  }
  .review-time {
    margin-top: 5px;
  }
  .review-user {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .review-user img {
    border-radius: 100px;
  }
  .review-name {
    font-weight: bold;
  }
  .review-name,
  .review-detail {
    margin: 0;
    color: var(--color-primary);
  }
  .review-content {
    color: var(--color-primary);
  }
  .review-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    overflow: hidden;
  }
  .review-images img {
    border-radius: 10px;
    border: 1px solid var(--color-border);
  }
  .about__button {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 20% 5%;
    color: var(--color-primaary);
  }
  .about__button-title {
    font-weight: bold;
    color: var(--color-primary);
  }
  .about__button-btn {
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    font-size: var(--font-large);
    color: var(--color-neutral);
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 768px) {
    .review-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 24px;
      gap: 30px;
    }
    .about__button {
      padding-bottom: 10%;
    }
  }
{% endstyle %}

<section class="about-review">
  <div class="review-container">
    {% for block in section.blocks %}
      <div class="review-card">
        <div class="review-header">
          <img
            src="{{ 'icon-stars.webp' | asset_url }}"
            alt="Rating Stars"
            width="auto"
            height="auto"
            loading="lazy"
          >
          <span class="review-time">
            {%- assign created_at = block.settings.review_date | date: '%s' %}
            {% assign current_time = 'now' | date: '%s' %}

            {% assign time_diff = current_time | minus: created_at %}
            {% assign days_ago = time_diff | divided_by: 86400 %}

            {% if days_ago == 0 %}
              <p>Today</p>
            {% elsif days_ago == 1 %}
              <p>1 day ago</p>
            {% else %}
              <p>{{ days_ago }} days ago</p>
            {% endif -%}
          </span>
        </div>
        <div class="review-user">
          {% if block.settings.icon %}
            <img
              src="{{ block.settings.icon | img_url: 'medium' }}"
              alt="User Icon"
              width="80px"
              height="80px"
              loading="lazy"
            >
          {% endif %}
          <div class="review-info">
            <p class="review-name">{{ block.settings.name }}</p>
            <p class="review-detail">{{ block.settings['title-product'] | strip_html | truncate: 23, '...' }}</p>
          </div>
        </div>
        <div class="review-content">
          <p>{{ block.settings['review-content'] }}</p>
        </div>
        <div class="review-images">
          {% if block.settings['review-image1'] %}
            <img
              src="{{ block.settings.review-image1 | img_url: 'medium' }}"
              alt="Review Image"
              width="100%"
              height="100%"
              loading="lazy"
            >
          {% endif %}
          {% if block.settings['review-image2'] %}
            <img
              src="{{ block.settings.review-image2 | img_url: 'medium' }}"
              alt="Review Image"
              width="100%"
              height="100%"
              loading="lazy"
            >
          {% endif %}
          {% if block.settings['review-image3'] %}
            <img
              src="{{ block.settings.review-image3 | img_url: 'medium' }}"
              alt="Review Image"
              width="100%"
              height="100%"
              loading="lazy"
            >
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="about__button">
      <h2 class="about__button-title">See full review on Tokopedia</h2>
      <a class="about__button-link" href="https://www.tokopedia.com/globalkomunikajk">
        <button class="about__button-btn">Tokopedia Global Komunika</button>
      </a>
    </div>
</section>

{% schema %}
{
  "name": "Static Rating About",
  "settings": [],
  "blocks": [
    {
      "type": "rating",
      "name": "Rating",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "star",
          "label": "star"
        },
        {
          "type": "text",
          "id": "review_date",
          "label": "Review Date (YYYY MM DD)",
          "default": "2025-03-25"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Nama Customer",
          "default": "Nama"
        },
        {
          "type": "text",
          "id": "title-product",
          "label": "Nama Produk",
          "default": "Nama Produk"
        },
        {
          "type": "richtext",
          "id": "review-content",
          "label": "Description",
          "default": "<p>Description Here</p>"
        },
        {
          "type": "image_picker",
          "id": "review-image1",
          "label": "Review Image"
        },
        {
          "type": "image_picker",
          "id": "review-image2",
          "label": "Review Image"
        },
        {
          "type": "image_picker",
          "id": "review-image3",
          "label": "Review Image"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Static Rating About",
      "category": "Custom",
      "blocks": [
        {
         "type": "rating",
          "settings": {
            "name": "Nama Customer",
            "review-content": "<p>Description Here</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
