<script src="{{ 'section-main-product.js' | asset_url }}" defer="defer"></script>

<!-- CSS for Popup -->
<style>
  .cart-popup {
    position: fixed !important;
    top: 10% !important;
    right: 5% !important;
    background-color: var(--color-primary);
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 9999;
  }
  .cart-popup-content {
    text-align: center;
    color: var(--color-neutral);
  }
  @media (max-width: 768px) {
    .cart-popup {
      top: 30%;
      right: 0;
    }
  }
</style>

<product-info
  id="MainProduct-{{ section.id }}"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
>
  <div id="cart-popup" class="cart-popup" style="display: none;">
  <div class="cart-popup-content">
    <p id="popup-product-title">Success add to cart</p>
  </div>
</div>
  <div class="main-product-container">
    <div class="main-product-header">
      {% if product.title %}
        <h2 class="product-title-mobile">{{ product.title }}</h2>
      {% endif %}
      <div class="main-product-header-left">
        <img
          class="main-product-main-images"
          id="mainImage"
          src="{{ product.featured_image | img_url: 'master' }}"
          alt="{{ product.title | escape }}"
          loading="lazy"
        >
        <div class="main-product-sub-images-wrapper">
          <button
            class="scroll-btn left"
            style="transform: rotate(180deg);"
            onclick="scrollSubImages(-1)"
            aria-label="Scroll left"
          >
            {{- 'icon-arrow-back.svg' | inline_asset_content -}}
          </button>
          <div class="main-product-sub-images">
            {% for image in product.images %}
              <img
                class="sub-image"
                src="{{ image | img_url: 'master' }}"
                alt="Sub Image {{ forloop.index }}"
                data-src="{{ image | img_url: 'large' }}"
                loading="lazy"
              >
            {% endfor %}
          </div>
          <button class="scroll-btn right" onclick="scrollSubImages(1)" aria-label="Scroll right">
            {{- 'icon-arrow-back.svg' | inline_asset_content -}}
          </button>
        </div>
      </div>

      <div class="main-product-header-right">
        {% if product.title %}
          <h2 class="product-title">{{ product.title }}</h2>
        {% endif %}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
          {%- endcase -%}
        {%- endfor -%}

        {% assign min_price = product.variants.first.price %}
        {% assign max_price = product.variants.first.price %}
        {% for variant in product.variants %}
          {% if variant.price < min_price %}
            {% assign min_price = variant.price %}
          {% endif %}
          {% if variant.price > max_price %}
            {% assign max_price = variant.price %}
          {% endif %}
        {% endfor %}
      
        {% assign min_price_formatted = min_price | money_with_currency %}
        {% assign max_price_formatted = max_price | money_with_currency %}
        <!-- Harga untuk desktop -->
  <div id="variant-price-desktop" class="money">
    {{ min_price_formatted }}{% unless min_price == max_price %} - {{ max_price_formatted }}{% endunless %}
  </div>

        {{ product.description }}
        <div class="main-product-variant-picker">
          {% render 'custom-variant-picker', product: product %}
        </div>
      </div>
    </div>
    <div class="main-product-main-content">
      <div class="main-product-content">
        <div class="main-product-content-wrapper">
          <label>Product Details</label>
          <div class="main-product-content-left">
            <ul>
              {% for item in product.metafields.details %}
                {% assign key = item.first %}
                {% assign value = item.last %}
                {% if value != blank %}
                  <div class="mp-content-wrapper">
                    <div class="mp-content-icon-img">
                      {{- key | append: '.svg' | inline_asset_content -}}
                    </div>
                    <div class="mp-content-text">
                      <p class="title">{{ key | replace: '_', ' ' | capitalize }}</p>
                      {% if value.value %}
                        {% for v in value.value %}
                          <p>{{ v }}</p>
                        {% endfor %}
                      {% else %}
                        <p>{{ value }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <hr class="mp-content-divider">
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="main-product-content-wrapper">
          <label>Coverage</label>
          <div class="main-product-content-right">
            <div class="main-product-content-right-wrapper">
              {% if product.metafields.coverage.country.value.size > 10 %}
                {% render 'coverage-search' %}
              {% endif %}
              {% render 'coverage' %}
            </div>
          </div>
        </div>
      </div>
      <div class="main-product-ratting"></div>
    </div>
  </div>
  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>
</product-info>

{% schema %}
{
  "name": "Main Product",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Main Product"
    }
  ]
}
{% endschema %}
