{% style %}
  .news-container {
    max-width: 1920px;
    margin: 0 auto;
  }
  .news__content-top {
    padding: 0 20% 100px;
  }
  .news-content__wrapper {
    display: flex;
    padding: 30px;
    border-radius: 15px;
    gap: 20px;
  }
  .news-content__wrapper-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 15px;
  }
  .news__main-text {
    text-align: center;
    margin-top: 50px;
  }
  .news__main-heading {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    line-height: 1.5;
  }
  .news-content__card {
    background-color: var(--color-neutral);
    border-radius: 15px;
    padding: 15px;
    flex: 1;
    transition: transform 0.1s ease 0.1s;
  }
  .news-content__card:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow);
    cursor: pointer;
  }
  .news-content__card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    aspect-ratio: 3 / 2;
  }
  .news-content__card-title {
    color: var(--color-primary);
    font-size: var(--font-supper-large);
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  .news-content__date {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-secondary);
    font-size: 14px;
  }
  .news-content__card-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    color: var(--color-primary);
    margin: 5px 0;
  }
  .new-content__link {
    text-decoration: none;
  }

  /* Content hero shoot */
  .news-hero-shoot {
    display: flex;
    justify-content: center;
  }
  .news__hero-wrapper {
    /* background-color: var(--color-neutral); */
    padding: 20px 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .news__hero-wrapper h2 {
    font-weight: bold;
  }
  .news__hero-wrapper h2,
  span {
    margin: 0;
    line-height: 1.5;
    color: var(--color-neutral);
  }
  .news__hero-button {
    margin-top: 50px;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 15px;
    color: var(--color-neutral);
    font-size: var(--font-large);
    letter-spacing: 1px;
  }
  .news__hero-button:hover {
    box-shadow: var(--box-shadow);
  }
  .news__hero-button:active {
    transform: translateY(5px);
  }
  .news__latest-article {
    color: var(--color-primary);
    font-size: 30px;
    text-align: center;
  }
@media (max-width: 1440px) {
  .news__content-top {
    padding: 0 10% 100px;
  }
}
@media (max-width: 768px) {
  .news-content__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .news__content-top {
    padding: 20px 10%;
  }
  @media (max-width: 375px) {
    .news-content__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .news__content-top {
    padding: 20px 24px;
  }
  .news-content__wrapper {
    padding: 0;
  }
  .news__hero-wrapper {
    padding: 0;
  }
  }
}
{% endstyle %}

<div class="news-container">
  <section class="news-main">
    {% comment %} Top 3 content pages from main section settings {% endcomment %}
    {% assign main_pages = section.settings['main-first-page']
      | append: ','
      | append: section.settings['main-second-page']
      | append: ','
      | append: section.settings['main-third-page']
      | split: ','
    %}
    {% if template.suffix == 'news' %}
      <div class="news__content-top">
        <div class="news__main-text">
          <h2 class="news__main-heading">{{ section.settings['main-heading'] }}</h2>
          <span class="news__main-description">{{ section.settings['main-description'] }}</span>
        </div>

        <div class="news-content__wrapper">
          {% for page_id in main_pages %}
            {% assign page = pages[page_id] %}
            {% if page %}
              <section class="news-content__card">
                <a class="new-content__link" href="{{ page.url }}">
                {% assign img_parts = page.content | split: '<img' %}
                {% if img_parts.size > 1 %}
                  {% assign first_img_tag = img_parts[1] | split: '>' | first | prepend: '<img' | append: '>' %}
                  {{ first_img_tag }}
                {% endif %}
                <h2 class="news-content__card-title">{{ page.title }}</h2>
                <h2 class="news-content__card-description">
                  {{ page.content | strip_html }}
                </h2>
                <div class="news-content__date">
                  {{ page.published_at | date: '%d %B %Y' }}
                </div>
              </a>
              </section>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>

  {% for block in section.blocks %}
    {% assign page_ids = block.settings['first-page']
      | append: ','
      | append: block.settings['second-page']
      | append: ','
      | append: block.settings['thrid-page']
      | split: ','
    %}

    <section class="news-content">
      <div class="news__hero-shoot">
        <div class="news__hero-wrapper" style="background-image: url({{ block.settings.hero-background | image_url }}); background-size: cover; background-position: center;">
          <h2>{{ block.settings['hero-title'] }}</h2>
          <span>{{ block.settings['hero-description'] }}</span>
          {% if block.settings['show-button'] %}
            <a href="/pages/news-category/{{ block.settings.category }}">
              <button class="news__hero-button">Readmore</button>
            </a>
          {% endif %}
        </div>
      </div>

      <div class="news__content-top">
        <div class="news-content__wrapper">
          {% for page_id in page_ids %}
            {% assign page = pages[page_id] %}
            {% if page %}
              <section class="news-content__card">
                {% assign img_parts = page.content | split: '<img' %}
                {% if img_parts.size > 1 %}
                  {% assign first_img_tag = img_parts[1] | split: '>' | first | prepend: '<img' | append: '>' %}
                  {{ first_img_tag }}
                {% endif %}
                <a class="new-content__link" href="{{ page.url }}">
                  <h2 class="news-content__card-title" title="{{ page.title }}">{{ page.title }}</h2>
                  <h2 class="news-content__card-description">
                    {{ page.content | strip_html }}
                  </h2>
                </a>
                <div class="news-content__date">
                  {{ page.published_at | date: '%d %B %Y' }}
                </div>
              </section>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endfor %}


  
  {% comment %} Section untuk category (news-category) {% endcomment %}
  {% assign path_parts = request.path | split: '/' %}
  {% assign category_slug = path_parts.last %}
  {% assign has_articles = false %}
  {% for page in pages %}
    {% if page.metafields.pages.category.value == category_slug %}
      {% assign has_articles = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% unless template.suffix == 'news' %}
    {% if has_articles %}
      <section class="news-content">
        <div class="news__hero-shoot">
          <div class="news__hero-wrapper">
            <h2>{{ category_slug | capitalize }}</h2>
            {% case category_slug %}
              {% when 'news' %}
                <span>{{ section.settings['news-heading'] }}</span>
              {% when 'event' %}
                <span>{{ section.settings['event-heading'] }}</span>
              {% when 'travel-guide' %}
                <span>{{ section.settings['travel-guide-heading'] }}</span>
              {% when 'travel-tips' %}
                <span>{{ section.settings['travel-tips-heading'] }}</span>
            {% endcase %}
          </div>
        </div>
      </section>

      <section class="news__content-top">
        <h2 class="news__latest-article" style="font-weight:bold;">Latest Article</h2>
        <div class="news-content__wrapper-category">
          {% for page in pages %}
            {% if page.metafields.pages.category.value == category_slug %}
              <a class="new-content__link" href="{{ page.url }}">
                <div class="news-content__card">
                  {% assign img_parts = page.content | split: '<img' %}
                  {% if img_parts.size > 1 %}
                    {% assign first_img_tag = img_parts[1] | split: '>' | first | prepend: '<img' | append: '>' %}
                    {{ first_img_tag }}
                  {% endif %}

                  <h2 class="news-content__card-title" title="{{ page.title }}">{{ page.title }}</h2>
                  <h2 class="news-content__card-description">
                    {{ page.content | strip_html }}
                  </h2>

                  <div class="news-content__date">
                    {{ page.published_at | date: '%d %B %Y' }}
                  </div>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% else %}
      <h2 class="news__latest-article" style=" margin: 10% 0;">Article Not Found</h2>
    {% endif %}
  {% endunless %}
</div>

{% schema %}
{
  "name": "News Section",
  "settings": [
    {
      "type": "text",
      "id": "main-heading",
      "label": "Main Heading",
      "default": "Latest News"
    },
    {
      "type": "textarea",
      "id": "main-description",
      "label": "Main Description",
      "default": "Check out the latest updates from our blog or news section."
    },
    {
      "type": "page",
      "id": "main-first-page",
      "label": "Main First Page"
    },
    {
      "type": "page",
      "id": "main-second-page",
      "label": "Main Second Page"
    },
    {
      "type": "page",
      "id": "main-third-page",
      "label": "Main Third Page"
    },
    {
      "type": "richtext",
      "id": "news-heading",
      "label": "Description for news"
    },
    {
      "type": "richtext",
      "id": "event-heading",
      "label": "Description for event"
    },
    {
      "type": "richtext",
      "id": "travel-guide-heading",
      "label": "Description for travel guide"
    },
    {
      "type": "richtext",
      "id": "travel-tips-heading",
      "label": "Description for travel tips"
    }
  ],
  "blocks": [
    {
      "type": "news_block",
      "name": "News Block",
      "settings": [
        {
          "type": "select",
          "id": "category",
          "label": "Kategori tombol Readmore",
          "options": [
            {
              "value": "news",
              "label": "News"
            },
            {
              "value": "event",
              "label": "Event"
            },
            {
              "value": "travel-tips",
              "label": "Travel Tips"
            },
            {
              "value": "travel-guide",
              "label": "Travel Guide"
            }
          ],
          "default": "news"
        },
        {
          "type": "text",
          "id": "hero-title",
          "label": "Hero Title",
          "default": "Featured News"
        },
        {
          "type": "textarea",
          "id": "hero-description",
          "label": "Hero Description",
          "default": "Read our most highlighted content here."
        },
        {
          "type": "page",
          "id": "first-page",
          "label": "First Page"
        },
        {
          "type": "page",
          "id": "second-page",
          "label": "Second Page"
        },
        {
          "type": "page",
          "id": "thrid-page",
          "label": "Third Page"
        },
        {
          "type": "checkbox",
          "id": "show-button",
          "label": "Tampilkan tombol Readmore",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "hero-background",
          "label": "Hero Background Image"
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "News Section",
      "category": "Custom",
      "blocks": [
        {
          "type": "news_block"
        }
      ]
    }
  ]
}
{% endschema %}
